*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: rgb(7, 7, 7);
  /* opacity: 0.8; */
  /* height: 100%; */
  height: 100%;
}

.cbpurple:hover {
  opacity: 0.9;
  background: greenyellow;
}

.cbblue:hover {
  opacity: 0.9;
  background: blue;
}

.cbyellow:hover {
  opacity: 0.9;
  background: yellow;
}

.cbred:hover {
  opacity: 0.9;
  background: red;
}

body {
  background-image: url("../img/img.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  opacity: 0.9;
  margin: 0;
}

main {
  width: 80vw;
  align-content: center;
  alignment: center;
  text-align: center;
  align-self: center;
  align-items: center;
}

.logo a {
  /* text-align: center; */
  color: white;
  text-decoration: none;
}

header h1 {
  text-align: center;
  color: rgb(241, 162, 15);
}

header p {
  background: transparent;
  text-align: center;
}

/* p {
   margin-bottom: 0.85em;
} */

.products {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  margin: 0 auto;
}

.product {
  margin-bottom: 1em;
  border-radius: 1em;
  overflow: hidden;

  box-shadow: 0 0 1em rgba(235, 228, 228, 0.99);
}



.kontakt {
  color: aliceblue;
  text-align: center;
  align-self: center;
  width: 100%;
}

.input_form_width_18 {
  width: 18em;
}

.input_form_width_17 {
  width: 17em;
}

.input_form_width_14 {
  width: 14em;
}

.cvarea {
  width: 21em;
}

.button2 {
  width: 10em;
}

.product-box {
   color: aliceblue;
   text-decoration: none;
}

.product-box:hover {
  /*background: aliceblue;
  opacity: 10%;*/
  border-radius: 1em;
  color: #f79102;
}

.product:hover {
   box-shadow: 0 0 1em rgb(235, 193, 9);
}

.product:last-of-type {
  margin-bottom: 2em;
}

.product__title {
  /*color: #f79102;*/
  font-size: 2.5rem;
  margin-bottom: 0.5em;
  /* word-break: break-all; */
}

.skipanin {
  padding: 1.5em;
}

p {
  color: rgba(253, 252, 253, 0.966);
  text-align: center;
}

section {
  padding: 3em 1em;
}

/* typography */

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h2,
h3 {
  line-height: 0.8;
  letter-spacing: 1px;
}

h2 {
  font-size: 4rem;
}

p {
  margin-bottom: 0.75em;
}

p:last-child {
  margin-bottom: 0;
}


header {
  padding: 1em 0 2em;
}

/*navigation*/



/*Buttons*/

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.btn {
  padding: 0.75em 2.5em;
  color: #f79102;
  text-decoration: none;
  display: block;
  margin: 0.5em 0;
  border-radius: 0.35em;
}

.btn-primary {
  background: white;
}

.btn-primary:hover,
.btn-primary:focus {
  background: rgb(215, 250, 250);
}


.product:last-of-type {
  margin-bottom: 2em;
}


@media only screen and (min-width: 750px) {
  section {
    padding: 6em 1em;
  }

  .btn-group {
    margin-top: 1em;
    flex-direction: row;
  }

  .btn + .btn {
    margin-left: 0.5em;
  }

  .products {
    display: grid;
    /* height: 700px; */
    grid-template-columns: 50% 50%;
    /* grid-auto-flow: 25%; */
    grid-gap: 1em;
    max-width: 1200px;
    padding: 0 5em;
  }

  .product {
     height: 220px;
    margin: 5px;
  }

  .product + .product {
  }

  .product:last-of-type {
    margin-bottom: 0;
  }
}

nav {
  font-weight: bold;
  color: orange;
  border: 2px solid orange;
  text-align: center;
  width: 10em;
  background-color: black;
}
nav ul {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav:hover ul {
  display: block;
  background-color: #010101;

}

nav ul li {
  border-top: 2px solid orange;
  background-color: black;
  width: 10em;
  color: orange;
}

nav ul li:hover {
  background-color: #010101;
}

a {
  text-decoration: none;
}

a:visited {
  color: orange;
}